<div class="banner">
	<div class="main-banner owl-carousel">
		<div class="item">
			<a href="#"><img src="images/main_banner1.jpg" alt="Main Banner" class="img-responsive"/></a>
		</div>
		<div class="item">
			<a href="#"><img src="images/main_banner2.jpg" alt="Main Banner" class="img-responsive"/></a>
		</div>
	</div>
</div>
