{% extends 'base.html.twig' %}

{% block title %}Service
{% endblock %}

{% block body %}
{% if service.photo1170x500 %}
	<div class="col-md-12">
		<figure>
			<img src="{{asset('uploads/images/parametre/'~ service.photo1170x500)}}" alt="{{service.titre}}">
		</figure>
	</div>
{% endif %}
	<div class="col-md-12">
		<div class="about-text">
			<div class="about-heading-wrap">
				<h2 class="about-heading mb_20 mt_40 ptb_10">
					{{service.titre}}
				</h2>
			</div>
			<p>
				{{service.contenu|raw}}
			</p>
		</div>
	</div>
{% endblock %}
