{% extends 'base.html.twig' %}

{% block title %}QSN
{% endblock %}

{% block body %}

{% if qsn.photo1170x500 %}
	<div class="col-md-12">
		<figure>
			<img src="{{asset('uploads/images/parametre/'~ qsn.photo1170x500)}}" alt="{{qsn.titre}}">
		</figure>
	</div>
{% endif %}
	<div class="col-md-12">
		<div class="about-text">
			<div class="about-heading-wrap">
				<h2 class="about-heading mb_20 mt_40 ptb_10">
					{{qsn.titre}}
				</h2>
			</div>
			<p>
				{{qsn.contenu|raw}}
			</p>
		</div>
	</div>
{% endblock %}
