{% include "_partials/_entete.html.twig" %}
<!-- =====  HEADER START  ===== -->
{% include "_partials/_header.html.twig" %}
<!-- =====  HEADER END  ===== -->
<!-- =====  CONTAINER START  ===== -->
	<div class="container mt_30"> <div class="row ">
		<div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
			<div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
				<div class="nav-responsive">
					<div class="heading-part">
						<h2 class="main_title">Les catégories
						</h2>
					</div>
					<ul class="nav  main-navigation collapse in">
						{% if categories is defined and categories|length > 0 %}
							{% for categorie in categories %}
								<li>
									<a href="#">{{categorie}}</a>
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
			<div class="left_banner left-sidebar-widget mt_30 mb_40">
				<a href="#"><img src="{{asset('images/left1.jpg')}}" alt="Left Banner" class="img-responsive"/></a>
			</div>
		</div>
		<div
			class="col-sm-8 col-lg-9 mtb_20">
			<!-- about  -->
			<div class="row">
				{% block body %}

					<div class="col-md-12">
						<figure>
							<img src="{{asset('images/about-page-gaando.jpg')}}" alt="#">
						</figure>
					</div>
					<div class="col-md-12">
						<div class="about-text">
							<div class="about-heading-wrap">
								<h2 class="about-heading mb_20 mt_40 ptb_10">themini Design is Best Part of
									<span>my Life
									</span>
								</h2>
							</div>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
							<button type="button" class="btn mt_30">HIRE ME</button>
						</div>
					</div>
				{% endblock %}
			</div>
			<!-- =====  product ===== -->
			<!-- =====  end  ===== -->

		</div>
	</div>
</div></div><!-- Single Blog  --><!-- End Blog   --><!-- =====  CONTAINER END  ===== --><!-- =====  FOOTER START  ===== -->{% include "_partials/_footer.html.twig" %}<!-- =====  FOOTER END  ===== -->{% include "_partials/_pied.html.twig" %}
